In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
stock = pd.read_csv("data/stock.adj_close.csv")

In [43]:
#기본정보 확인 
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2274 entries, 0 to 2273
Columns: 569 entries, Symbol to 2020-09-18
dtypes: float64(568), object(1)
memory usage: 9.9+ MB

In [44]:
stock.set_index(keys="Symbol", inplace=True)

In [45]:
stock

,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,2018-06-14,2018-06-15,2018-06-18,...,2020-09-07,2020-09-08,2020-09-09,2020-09-10,2020-09-11,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18
Symbol,,,,,,,,,,,,,,,,,,,,,
A000020,11550.0,11750.0,11700.0,11650.0,11500.0,11500.0,11650.0,12000.0,11800.0,11450.0,...,25550.0,23650.0,24550.0,25950.0,26750.0,26300.0,25400.0,25050.0,25300.0,25050.0
A000030,15500.0,15950.0,16050.0,16500.0,16600.0,16650.0,16850.0,16500.0,16100.0,16350.0,...,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0
A000040,2992.0,3021.0,3025.0,3069.0,3045.0,2984.0,2976.0,3033.0,3033.0,3017.0,...,980.0,932.0,741.0,875.0,840.0,860.0,833.0,817.0,812.0,796.0
A000050,13200.0,13550.0,13600.0,13800.0,13800.0,13800.0,13650.0,13850.0,14500.0,14550.0,...,11100.0,11350.0,11550.0,11500.0,11550.0,11300.0,11300.0,11050.0,10900.0,10750.0
A000060,20050.0,20050.0,20150.0,20050.0,20400.0,20150.0,20700.0,20950.0,20150.0,20900.0,...,12700.0,12700.0,12650.0,12700.0,12800.0,13000.0,13200.0,13150.0,13150.0,13200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A950160,38600.0,36400.0,36350.0,38700.0,40200.0,39250.0,38300.0,38350.0,39000.0,37600.0,...,9540.0,9540.0,9540.0,9540.0,9540.0,9540.0,9540.0,9540.0,8010.0,8010.0
A950170,13850.0,14250.0,14450.0,14300.0,14150.0,13650.0,14050.0,13600.0,13550.0,11900.0,...,4040.0,4050.0,4245.0,4275.0,4200.0,4195.0,4070.0,4045.0,4015.0,4055.0
A950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13200.0,13150.0,13100.0,13150.0,13100.0,13900.0,13250.0,13350.0,13550.0,13450.0
A950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32200.0,31200.0,30400.0,30500.0,30150.0,30050.0,31450.0,31750.0,31200.0,30350.0
A950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16750.0,16950.0,17250.0,17100.0,17350.0,17450.0,15800.0,15100.0,14700.0,14550.0

In [ ]:
# 주식종목코드 여섯째자리 0:보통주 / 1:우선주
# 주권은 단축숙성코드에 'A'
# 5자리의 발행체고유코드는 1993년 8월 30일을 기준으로 설립년도순에 따라 부여된 일련번호

In [46]:
# 이 데이터에는 주식밖에 없음을 확인 
# 이 데이터에는 보통주밖에 없음을 확인 
set([i[0] for i in list(stock.index)]), \
set([i[6] for i in list(stock.index)])

({'A'}, {'0'})

In [ ]:
# 주제 : 주가의 주말효과(weekend effect)
# 가설 : 주말효과가 존재한다면 월요일의 평균 수익률이 낮은 기업들의 수가 다른 요일에 비해 많을 것이다   
# 주말효과란? 월요일 수익률이 다른 요일 수익률에 비해 유난히 낮은 현상
# 기업들은 불리한 정보가 있을 때 주말 저녁 폐장 이후에 발표 -> 월요일에 매도물량이 많아 수익률이 낮아짐

In [47]:
trans_stock = stock.T

In [48]:
trans_stock.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A900310,A900340,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200
2018-06-01,11550.0,15500.0,2992.0,13200.0,20050.0,120000.0,20200.0,44979.0,148000.0,9360.0,...,3245.0,NaN,7690.0,4970.0,6530.0,38600.0,13850.0,NaN,NaN,NaN
2018-06-04,11750.0,15950.0,3021.0,13550.0,20050.0,123000.0,20400.0,42689.0,153000.0,9440.0,...,3245.0,NaN,7700.0,4900.0,6870.0,36400.0,14250.0,NaN,NaN,NaN
2018-06-05,11700.0,16050.0,3025.0,13600.0,20150.0,123500.0,20350.0,41406.0,152500.0,9390.0,...,3240.0,NaN,7690.0,4940.0,6690.0,36350.0,14450.0,NaN,NaN,NaN
2018-06-07,11650.0,16500.0,3069.0,13800.0,20050.0,124500.0,21000.0,41498.0,154000.0,9490.0,...,3245.0,NaN,7680.0,5140.0,6950.0,38700.0,14300.0,NaN,NaN,NaN
2018-06-08,11500.0,16600.0,3045.0,13800.0,20400.0,123500.0,20750.0,41956.0,154000.0,9510.0,...,3180.0,NaN,7680.0,5280.0,6740.0,40200.0,14150.0,NaN,NaN,NaN

In [50]:
df_stock = 100 * trans_stock.pct_change()
df_stock

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A900310,A900340,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200
2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-04,1.731602,2.903226,0.969251,2.651515,0.000000,2.500000,0.990099,-5.091265,3.378378,0.854701,...,0.000000,NaN,0.130039,-1.408451,5.206738,-5.699482,2.888087,NaN,NaN,NaN
2018-06-05,-0.425532,0.626959,0.132406,0.369004,0.498753,0.406504,-0.245098,-3.005458,-0.326797,-0.529661,...,-0.154083,NaN,-0.129870,0.816327,-2.620087,-0.137363,1.403509,NaN,NaN,NaN
2018-06-07,-0.427350,2.803738,1.454545,1.470588,-0.496278,0.809717,3.194103,0.222190,0.983607,1.064963,...,0.154321,NaN,-0.130039,4.048583,3.886398,6.464924,-1.038062,NaN,NaN,NaN
2018-06-08,-1.287554,0.606061,-0.782014,0.000000,1.745636,-0.803213,-1.190476,1.103668,0.000000,0.210748,...,-2.003082,NaN,0.000000,2.723735,-3.021583,3.875969,-1.048951,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-14,-1.682243,0.000000,2.380952,-2.164502,1.562500,3.211009,-0.133869,-1.351351,0.958466,-0.874636,...,-1.123596,1.454545,-0.429185,-3.020134,-0.720288,0.000000,-0.119048,6.106870,-0.331675,0.576369
2020-09-15,-3.422053,0.000000,-3.139535,0.000000,1.538462,-1.925926,3.217158,4.566210,2.848101,1.470588,...,1.136364,0.000000,0.718391,3.114187,1.209190,0.000000,-2.979738,-4.676259,4.658902,-9.455587
2020-09-16,-1.377953,0.000000,-1.920768,-2.212389,-0.378788,-1.208459,-1.428571,-0.436681,9.230769,-0.289855,...,-1.966292,-0.716846,-0.285307,7.046980,0.358423,0.000000,-0.614251,0.754717,0.953895,-4.430380
2020-09-17,0.998004,0.000000,-0.611995,-1.357466,0.000000,-1.376147,-2.108037,-2.923977,1.126761,0.000000,...,-2.005731,-2.166065,0.572246,-3.448276,-1.071429,-16.037736,-0.741656,1.498127,-1.732283,-2.649007
2020-09-18,-0.988142,0.000000,-1.970443,-1.376147,0.380228,-0.155039,-0.807537,0.301205,1.392758,-2.906977,...,0.584795,-0.738007,-0.568990,3.246753,0.120337,0.000000,0.996264,-0.738007,-2.724359,-1.020408

In [55]:
#인덱스 날짜로 변환 
df_stock.index = pd.to_datetime(df_stock.index)

In [64]:
#날짜 -> 요일로 변환 / 요일별 평균 구하기  
df_weekday = df_stock.groupby(df_stock.index.dayofweek).mean()
df_weekday.index = ["Mon", "Tue", "Wed", "Thu", "Fri"]

In [67]:
df_weekday

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A900310,A900340,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200
Mon,-0.310136,-0.027160,-0.585394,-0.583986,-0.198657,-0.085656,0.059027,0.262477,-0.083043,0.680989,...,-0.118725,-0.490271,-0.721617,0.086624,-0.359337,-0.537564,-0.851703,-1.486297,5.816460,0.021609
Tue,0.678677,-0.003234,0.177903,0.011502,0.063654,0.376011,0.288217,0.123513,-0.150753,0.176949,...,0.169461,0.340044,0.396960,1.073086,0.003190,-0.498798,0.748733,0.361768,-1.115449,-0.628948
Wed,0.605110,0.027625,-0.006998,0.174376,0.020996,-0.135528,0.676342,0.015843,0.260968,0.260456,...,-0.040307,0.284738,0.366044,1.139949,0.251317,-0.249870,0.276883,0.226114,0.131757,-0.282362
Thu,-0.153710,-0.106486,-0.223245,0.143393,-0.079156,-0.265428,-0.473772,-0.322637,-0.066395,-0.536901,...,-0.806982,-0.626953,-0.136711,0.612920,-0.259358,-0.211605,-0.796935,-0.085072,-0.917124,-1.400407
Fri,0.177948,0.082617,-0.072417,0.238559,-0.059879,-0.250904,0.130067,0.406940,0.330632,0.115150,...,0.591355,0.516390,0.257698,-0.088391,0.204449,0.356297,-0.117897,-0.228021,-1.342176,-0.728607

In [91]:
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
kr_weekdays = ["월요일", "화요일", "수요일", "목요일", "금요일"]

for i, day in enumerate(weekdays):
    print(f"{kr_weekdays[i-1]} 대비 {kr_weekdays[i]}의 평균 수익률이 0 이하인 기업의 수 : " , len(df_weekday.loc[day][df_weekday.loc[day] <= 0]))

금요일 대비 월요일의 평균 수익률이 0 이하인 기업의 수 :  1761
월요일 대비 화요일의 평균 수익률이 0 이하인 기업의 수 :  359
화요일 대비 수요일의 평균 수익률이 0 이하인 기업의 수 :  660
수요일 대비 목요일의 평균 수익률이 0 이하인 기업의 수 :  1758
목요일 대비 금요일의 평균 수익률이 0 이하인 기업의 수 :  864

In [ ]:
# 월요일의 평균 수익률이 0보다 낮은 기업들이 1761개(총 2274개)로 다른 요일에 비해 많은 것을 알 수 있음 
# 단, 화요일이나 수요일과의 차이는 명확하나 목요일에도 평균 수익률이 낮은 기업들이 많음

In [105]:
# 요일별 기술통계량 확인
describe_df = pd.DataFrame()

for i, day in enumerate(weekdays):
    describe_df[day] = df_weekday.loc[day].describe()

describe_df

               Mon          Tue          Wed          Thu          Fri
count  2267.000000  2268.000000  2268.000000  2269.000000  2272.000000
mean     -0.225455     0.320446     0.170901    -0.210081     0.095138
std       0.437503     0.443592     0.427645     0.376878     0.359011
min      -3.681138    -8.536585    -4.694098    -4.629630    -5.565530
25%      -0.455650     0.093232    -0.025178    -0.415216    -0.081442
50%      -0.227846     0.291666     0.148467    -0.221081     0.073803
75%      -0.017087     0.523147     0.340657    -0.019800     0.265323
max       5.816460     3.960571    11.101259     2.570694     2.255639

In [ ]:
# 월요일의 수익률 평균과, 목요일의 수익률 평균이 비슷함을 알 수 있음 
# 중앙값 또한 크게 차이나지 않음
# 그렇다면, 주말효과는 없다고 볼 수 있을까?

# 데이터가 2018년~2020년 데이터 이므로 연도별로 확인하기로 함 
# 코로나19 이후로 급락 / 급등이 잦았으므로 연도별 차이가 있을 것으로 판단

In [118]:
years = [2018, 2019, 2020]
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
kr_weekdays = ["월요일", "화요일", "수요일", "목요일", "금요일"]

for year in years: 
    df_year = df_stock[df_stock.index.year == year]
    df_weekday = df_year.groupby(df_year.index.dayofweek).mean()
    df_weekday.index = ["Mon", "Tue", "Wed", "Thu", "Fri"]
    print("--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--")
    print(f"{year}년도 데이터입니다")
    print("--------")
    for i, day in enumerate(weekdays):
        
        print(f"{kr_weekdays[i-1]} 대비 {kr_weekdays[i]}의 평균 수익률이 0 이하인 기업의 수 : " , len(df_weekday.loc[day][df_weekday.loc[day] <= 0]))

--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
2018년도 데이터입니다
--------
금요일 대비 월요일의 평균 수익률이 0 이하인 기업의 수 :  1825
월요일 대비 화요일의 평균 수익률이 0 이하인 기업의 수 :  1052
화요일 대비 수요일의 평균 수익률이 0 이하인 기업의 수 :  1228
수요일 대비 목요일의 평균 수익률이 0 이하인 기업의 수 :  1633
목요일 대비 금요일의 평균 수익률이 0 이하인 기업의 수 :  523
--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
2019년도 데이터입니다
--------
금요일 대비 월요일의 평균 수익률이 0 이하인 기업의 수 :  1414
월요일 대비 화요일의 평균 수익률이 0 이하인 기업의 수 :  763
화요일 대비 수요일의 평균 수익률이 0 이하인 기업의 수 :  784
수요일 대비 목요일의 평균 수익률이 0 이하인 기업의 수 :  1461
목요일 대비 금요일의 평균 수익률이 0 이하인 기업의 수 :  905
--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
2020년도 데이터입니다
--------
금요일 대비 월요일의 평균 수익률이 0 이하인 기업의 수 :  1398
월요일 대비 화요일의 평균 수익률이 0 이하인 기업의 수 :  302
화요일 대비 수요일의 평균 수익률이 0 이하인 기업의 수 :  623
수요일 대비 목요일의 평균 수익률이 0 이하인 기업의 수 :  1622
목요일 대비 금요일의 평균 수익률이 0 이하인 기업의 수 :  1408

In [ ]:
# 2018년에는 월요일의 수익률이 0 이하인 기업의 수가 다른 요일에 비해 가장 많았음 
# 하지만 2019년 부터는 월요일의 수익률이 0 이하인 기업의 수보다 목요일의 수익률이 0 이하인 기업이 더 많음 
# 2020년에는 목요일의 수익률이 0 이하인 기업이 뚜렷하게 더 많은 것을 확인할 수 있음

In [119]:
years = [2018, 2019, 2020]
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
kr_weekdays = ["월요일", "화요일", "수요일", "목요일", "금요일"]

for year in years: 
    df_year = df_stock[df_stock.index.year == year]
    df_weekday = df_year.groupby(df_year.index.dayofweek).mean()
    df_weekday.index = ["Mon", "Tue", "Wed", "Thu", "Fri"]
    print("--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--")
    print(f"{year}년도 데이터입니다")
    print("--------")
    
    describe_df = pd.DataFrame()

    for i, day in enumerate(weekdays):
        describe_df[day] = df_weekday.loc[day].describe()

    print(describe_df)

--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
2018년도 데이터입니다
--------
               Mon          Tue          Wed          Thu          Fri
count  2100.000000  2097.000000  2106.000000  2108.000000  2108.000000
mean     -0.669000     0.037604    -0.116256    -0.299746     0.321757
std       0.925921     0.782674     0.791872     1.160806     1.078732
min     -24.324324   -15.454545   -11.067194    -7.915941   -22.857143
25%      -1.045296    -0.272533    -0.438401    -0.655381     0.001507
50%      -0.642687    -0.000761    -0.093141    -0.338360     0.252696
75%      -0.217335     0.323811     0.215652    -0.034805     0.561121
max      11.308798     6.796854    13.748031    40.000000    29.953917
--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
2019년도 데이터입니다
--------
               Mon          Tue          Wed          Thu          Fri
count  2217.000000  2214.000000  2209.000000  2214.000000  2217.000000
mean     -0.124851     0.156540     0.165487    -0.130849     0.128925
std       0.498638     0.576435     0.864528     0.563939     0.629507
min      -4.072234   -11.262136   -31.451613    -3.310026   -15.090090
25%      -0.359880    -0.061663    -0.077052    -0.392546    -0.115058
50%      -0.109628     0.122664     0.113547    -0.131387     0.075949
75%       0.109059     0.375034     0.392437     0.080202     0.324605
max       4.261364     8.244027     5.660438     8.571429    12.105263
--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
2020년도 데이터입니다
--------
               Mon          Tue          Wed          Thu          Fri
count  2267.000000  2268.000000  2268.000000  2269.000000  2272.000000
mean     -0.071024     0.694100     0.324160    -0.217371    -0.091204
std       0.754916     0.718904     0.634089     0.651811     0.578769
min      -3.681138    -8.536585    -4.694098    -4.629630    -5.565530
25%      -0.503071     0.240862     0.000000    -0.612928    -0.425211
50%      -0.112109     0.647657     0.275963    -0.274191    -0.103268
75%       0.245041     1.067821     0.614528     0.057845     0.197511
max       5.816460     4.032674    11.101259     4.495058     2.604601

In [ ]:

# 연도/요일별 기술통계량으로 봤을 때에도, 
# 2019년 부터는 목요일의 평균 수익률이 가장 낮고, 중앙값 또한 가장 낮음 

# 이에 2018년에는 주말효과가 발견되지만, 2019년과 2020년에는 발견할 수 없었다는 것으로 결론을 내려볼 수 있음